<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>S</span></span>omething something new industrial revolution. Coal is out, tech is in, it’s whole thing. Do you not watch the news? Which is why cities are willing to throw massive wads of cash in order to make their metropolis the next big American city.

            <p>They do this with maga-deals, no wait megadeals. Although the truth is the make as much sense. While there are benefits in attracting new businesses with these deals to your city, the numbers rarely add up. You see buddy, cities are handing out tax breaks like they’re free AOL CDs.</p>

            <p>The biggest of these tech based megadeals was gifted to Foxconn by taxpaying Wisconsians. They dropped a smooth $4bn on bringing Foxconn to Mount Pleasant. Foxconn? More like Foxcon. Anyway, have a stab at this little question, will ya?</p>

            <p>Mona's note that should be worked in somewhere: Just 12% of engineering jobs are held by women in the US. That number rises to 27% for computer and mathematical jobs but still, if you know someone working in tech, chances are, that's a man. </p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>How many jobs will Foxconn create with their $4bn megadeal?</span>
            </h3>

            {{> partials/slider }}

            <p>However, there are other megadeals with tech. Deals so mega that you’ll question your existence. Or you’ll just think that the officials make the deals are idiots. Probably the latter. Let’s go...</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>Apple’s North Carolinian data center</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>50</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$6.4m</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>Did you know that Apple got that much money for a data center in North Carolina. A data center filled with specialists who don’t even come from the Tar Heel state? Now you do. Did you also know that Maiden, the location of this center, has terrible roads that could be easily repaired. That’s if their city hall didn’t piss all the money away on a data center. FFS.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>United Technology's swell pad in Connecticut</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>18,000</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$22.2k</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>Did you know that Apple got that much money for a data center in North Carolina. A data center filled with specialists who don’t even come from the Tar Heel state? Now you do. Did you also know that Maiden, the location of this center, has terrible roads that could be easily repaired. That’s if their city hall didn’t piss all the money away on a data center. FFS.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>Elon Musk's summer project car garage</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>6,500</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$198k</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>Did you know that Apple got that much money for a data center in North Carolina. A data center filled with specialists who don’t even come from the Tar Heel state? Now you do. Did you also know that Maiden, the location of this center, has terrible roads that could be easily repaired. That’s if their city hall didn’t piss all the money away on a data center. FFS.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>Cerner Corp's sweet deal they made in Kansas City</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>15,000</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$109k</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>Did you know that Apple got that much money for a data center in North Carolina. A data center filled with specialists who don’t even come from the Tar Heel state? Now you do. Did you also know that Maiden, the location of this center, has terrible roads that could be easily repaired. That’s if their city hall didn’t piss all the money away on a data center. FFS.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>What's all this Amazon business about??</span>
            </h3>

            <p>Did you know that <a href='@'>Apple got that much money</a> for a data center in North Carolina. A data center filled with specialists who don’t even come from the Tar Heel state? Now you do. Did you also know that Maiden, the location of this center, has terrible roads that could be easily repaired. That’s if their city hall didn’t piss all the money away on a data center. FFS.</p>

            <p>Did you know that Apple got that much money for a data center in North Carolina. A data center filled with specialists who don’t even come from the Tar Heel state? Now you do. Did you also know that Maiden, the location of this center, has terrible roads that could be easily repaired. That’s if their city hall didn’t piss all the money away on a data center. FFS.</p>

            <p>Did you know that Apple got that much money for a data center in North Carolina. A data center filled with specialists who don’t even come from the Tar Heel state? Now you do. Did you also know that Maiden, the location of this center, has terrible roads that could be easily repaired. That’s if their city hall didn’t piss all the money away on a data center. FFS.</p>
        </div>
    </div>
</div>