<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>A</span></span>merica’s cities all have the same dream these days: to be the next Silicon Valley. And to court Big Tech they have taken to showering some of the world’s most profitable companies with taxpayers’ cash.</p>

            <p>On the surface the rationale seems obvious. Manufacturing is so 20th century – ship in the tech bros* and soon your rusty old mills will be designer lofts and dying high street will be throbbing with millennials, craft beer bars and cafes selling chai lattes and gluten-free flatbreads.</p>

            <p>But while the mayor may get a photo op with Tim Cook or Elon Musk, do the numbers really add up for taxpayers? The record so far says no. And yet the handouts just seem to get bigger.</p>

            <p>According to an analysis by <a href='https://www.goodjobsfirst.org/'>Good Jobs First</a>, the biggest of these tech-based megadeals so far was gifted to Foxconn, the Taiwanese maker of Apple’s iPhone, by taxpaying Wisconsinites. That deal could end up costing over $4bn.</p>

            <p>So how many jobs do you think will be created for that enormous sum? And how much do you think each one of those jobs is worth? Slide your answer in below.</p>

            <p>* Just 12% of engineering jobs are held by women in the US. That number rises to 27% for computer and mathematical jobs, but still if you know someone working in tech, chances are, they're a man.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>How many jobs will/should Foxconn create with their $4bn megadeal?</span>
            </h3>

            {{> partials/slider }}

            <p>// this should be on reveal Wisconsin governor Scott Walker has claimed Foxconn will create 13,000 jobs (that’s about $300,000 a job) at the new plant. Foxconn has been more conservative, estimating between 3,000 and 13,000. If it ends up being 3,000, that’s an astonishing $1.3m a job. But Foxconn looks like a bargain compared to some of the other tech deals that have been struck.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>Apple’s North Carolinian data center</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>50</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$6.4m</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>Apple received $321m in subsidies to build a data center in North Carolina. In return the company promised to create 50 permanent jobs in the Tar Heel state. Maiden, the location of this center, straddles Catawba and Lincoln counties.</p>

            <p>Earlier this year, Lincoln county was looking for $4m for its schools to meet immediate needs and “help the district catch up to where it once was and provide enhancements in some areas that have fallen to the wayside in recent years”, according to <a href='http://www.lakenormanpublications.com/denver_weekly/lincoln-county-schools-need-million-to-meet-immediate-need/article_8c01f0f2-0761-11e8-a327-57ed63417ded.html'>local reports</a>. Wonder where they could have found that cash?</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>United Technology's swell pad in Connecticut</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>18,000</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$22.2k</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>DConnecticut handed United Technologies Corp $400m in tax credits in 2014 to keep the company happy at a time when others are leaving that state. UTC employs about 18,000 people across the state, so that’s about $22,222 per job. In the meantime the cash-strapped state is looking to borrow $500m. <a href='https://www.ctpost.com/local/article/No-budget-change-despite-pleas-12924233.php'>Parents have begged for tax increases</a> to help their underfunded schools. UTC made a profit of $4.5bn last year.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>Elon Musk's summer project car garage</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>6,500</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$198k</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>Nevada’s governor Brian Sandoval promised the $1.3bn subsidies the state gave Tesla to build its hi-tech “Gigafactory” in the desert would “change Nevada forever”. <a href='http://www.latimes.com/business/autos/la-fi-tesla-100-billion-20140927-story.html'>Some economists</a> are not sold, arguing the state will never make that cash back.</p>

            <p>A report from the comptroller’s office shows corporate tax abatements (of which Tesla is by far the largest) is <a href='https://www.reviewjournal.com/business/price-tag-for-nevadas-tax-incentives-finally-revealed/'>costing the state millions</a> in lost revenues. Plans for a senior citizens center (that only needs $300,000) are on hold and, again, schools are suffering.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>Cerner Corp's sweet deal they made in Kansas City</span>
            </h3>

            <div class='uit-city'>
                <div class='uit-city__bubble'>
                    <div class='uit-city__bubble-content'>
                        <h4 class='uit-city__label uit-city__label--jobs'>Jobs created</h4>
                        <h3 class='uit-city__number uit-city__number--jobs'>15,000</h3>
                        <h4 class='uit-city__label uit-city__label--cost'>Cost per job</h4>
                        <h3 class='uit-city__number uit-city__number--cost'>$109k</h3>
                    </div>
                </div>
                <img class='uit-city__image' src='@@assetPath@@/assets/images/hq-1.png' />
            </div>

            <p>Kansas city council voted 10-1 to give Cerner corporation, a health information technology company, $1.6bn in tax incentives in 2013. It projected it would create 15,000 jobs. Missouri state auditor Nicole Galloway <a href='http://www.kansascity.com/news/politics-government/article199300994.html'>warned earlier this year</a> that the state’s budget had not grown enough to pay for a series of tax cuts and the state in considering deep cuts to healthcare and education.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>What's all this Amazon business about??</span>
            </h3>

            <p>Meanwhile, some of the US’s biggest cities are fighting hard to woo Amazon, which is looking for a home for its second headquarters. The cities that made it through to the second round are generally keeping quiet about how much taxpayers cash is on the table. But one contender, Newark, New Jersey, a city with an appalling crime rate and serious issues with its schools and transportation system, has <a href='https://www.nj.com/news/index.ssf/2018/04/read_newark_releases_amazon_hq2_proposal.html'>reportedly offered $7bn</a>. Looks like the most likely winner from the battle for HQ2 will be Amazon.</p>
        </div>
    </div>
</div>