<div class='uit-slider is-untouched'>
    <div class='uit-slider__svg'></div>
    <div class='uit-slider__button'>Submit my answer {{> icons/forward }} </div>
    <div class='uit-slider__reveal'>
        <p class='below'>You think less than 3000? What the hell? Those are some expensive jobs. You stand a good chance of getting a job working for a city though.</p>
        <p class='middle'>Nailed it. Well you've matched the terrible teal that Wisconsin made for this Foxconn deal. So I guess that's nailing it in a way.</p>
        <p class='above'>Well then, that was a shocker. I guess we tricked you. The truth is the number of jobs that the newly inked Foxconn deal will bring is unknown. Some are saying 3,000 and some are saying 15,000.</p>
    </div>
</div>
