<div class='uit-slider is-untouched'>
    <div class='uit-slider__svg'></div>
    <div class='uit-slider__button'>Submit my answer {{> icons/forward }} </div>
    <div class='uit-slider__reveal'>
        <p class='below'>Foxconn has said it will “create 3,000 jobs with the potential to grow to 13,000 new jobs” in the region. If 13,000 new jobs are created, Wisconsin would be paying $346,153 per job at a subsidy of $4.5bn. An astronomical sum, but nothing compared to the $1.5m per job cost if the deal ends up creating just 3,000 new positions.</p>

        <p class='middle'>Foxconn has said it will “create 3,000 jobs with the potential to grow to 13,000 new jobs” in the region. If 13,000 new jobs are created, Wisconsin would be paying $346,153 per job at a subsidy of $4.5bn. An astronomical sum, but nothing compared to the $1.5m per job cost if the deal ends up creating just 3,000 new positions.</p>

        <p class='above'>Foxconn has said it will “create 3,000 jobs with the potential to grow to 13,000 new jobs” in the region. If 13,000 new jobs are created, Wisconsin would be paying $346,153 per job at a subsidy of $4.5bn. An astronomical sum, but nothing compared to the $1.5m per job cost if the deal ends up creating just 3,000 new positions.</p>
    </div>
</div>
