<div class='uit-slider is-untouched'>
    <div class='uit-slider__svg'></div>
    <div class='uit-slider__button'>Submit my answer {{> icons/forward }} </div>
    <div class='uit-slider__reveal'>
        <p class='below'>Wisconsin governor Scott Walker has claimed Foxconn will create 13,000 jobs (that’s about $300,000 a job) at the new plant. Foxconn has been more conservative, estimating between 3,000 and 13,000. If it ends up being 3,000, that’s an astonishing $1.3m a job. But Foxconn looks like a bargain compared to some of the other tech deals that have been struck</p>

        <p class='middle'>Wisconsin governor Scott Walker has claimed Foxconn will create 13,000 jobs (that’s about $300,000 a job) at the new plant. Foxconn has been more conservative, estimating between 3,000 and 13,000. If it ends up being 3,000, that’s an astonishing $1.3m a job. But Foxconn looks like a bargain compared to some of the other tech deals that have been struck</p>

        <p class='above'>Wisconsin governor Scott Walker has claimed Foxconn will create 13,000 jobs (that’s about $300,000 a job) at the new plant. Foxconn has been more conservative, estimating between 3,000 and 13,000. If it ends up being 3,000, that’s an astonishing $1.3m a job. But Foxconn looks like a bargain compared to some of the other tech deals that have been struck</p>
    </div>
</div>
