.uit-body {
    .uit-content {
        padding-top: 8px;
    }

    .uit-drop {
        @include dropCap(3);
        font-weight: bold;
        color: $c-black;
    }

    a {
        color: $c-light-red;
        border-bottom: 1px solid $c-dark-grey;

        &:hover {
            border-bottom-color: $c-light-red;
            text-decoration: none;
        }
    }

    p {
        @include bodyCopy();
        margin-top: 0;
        margin-bottom: 18px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    .uit-subhead {
        font-family: 'Guardian Egyptian Web';
        color: $c-light-red;
        font-size: 20px;
        line-height: 1.1;
        font-weight: bold;

        @include mq(tablet) {
            font-size: 26px;
        }
    }
}

