.uit-body {
    .uit-content {
        padding-top: 8px;
    }

    .uit-drop {
        @include dropCap(3);
        font-weight: bold;
        color: $c-black;
    }

    p {
        @include bodyCopy();
        margin-bottom: 18px;
    }

    .uit-subhead {
        font-family: 'Guardian Egyptian Web';
        color: $c-light-red;
        font-size: 20px;
        line-height: 1.1;
        font-weight: bold;

        @include mq(tablet) {
            font-size: 26px;
        }
    }
}
