.uit-footer {
    .uit-content {
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        line-height: 1.3;
        color: $c-dark-grey;
        padding-top: 12px;

        p {
            border-top: 1px solid $c-rules;
            padding-top: 6px;
            padding-bottom: 48px;
        }

        a {
            color: $c-dark-grey;
            border-bottom: 1px solid $c-dark-grey;

            &:hover {
                text-decoration: none;
                border-bottom-color: $c-light-red;
                color: $c-light-red;
            }
        }
    }
}