.uit-header {
    overflow: hidden;

    .uit-content {
        border-bottom: 1px solid $c-rules;
    }
}

.uit-header__bubble {
    position: relative;
    margin-top: -70%;
    margin-left: -10%;
    width: 120%;
    padding-top: 120%;
    height: 0;
    border-radius: 60%;
    background-color: $c-light-red;
    margin-bottom: 24%;

    @include mq(tablet) {
        margin-top: -73%;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -15%;
        left: 0;
        right: 0;
        height: 0;
        width: 0;
        margin: auto;
        border-top: 30vw solid $c-light-red;
        border-left: 15vw solid transparent;
        border-right: 15vw solid transparent;
    }
}

.uit-header__headline {
    position: absolute;
    z-index: 2;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding: 6px 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 12vw;
    line-height: 1.1;
    color: $c-white;

    @include mq(tablet) {
        font-size: 85px;
        line-height: 1;
    }
}

.uit-header__image {
    display: block;
    width: 80%;
    max-width: 380px;
    margin: -10% auto 5%;
}

.uit-header__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.uit-header__byline {
    color: $c-light-red;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-size: 18px;
    line-height: 1;
    margin: 0;
}

.uit-header__byline-link {
    font-weight: bold;
    font-style: normal;
    color: $c-light-red;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $c-light-red;
    }
}

.uit-header__asterisk {
    position: relative;
    display: inline-block;
    background-color: $c-light-red;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    margin-bottom: -1px;
    margin-right: 2px;

    svg {
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        width: calc(100% + 4px);
        fill: $c-white;
    }
}

.uit-header__pop-up {
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $c-light-red;
    color: $c-white;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s linear;
    padding: 10px;

    @include mq(mobileLandscape) {
        padding: 10px 20px;
    }

    @include mq(desktop) {
        position: absolute;
        width: 300px;
        left: -148px;
        right: auto;
        bottom: 40px;
        padding: 6px;
    }

    .is-hover & {
        opacity: 1;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 0;
        right: 0;
        height: 0;
        width: 0;
        margin: auto;
        border-top: 20px solid $c-light-red;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}
