.uit-slider {
    margin: 0 40px;

    @include mq(desktop) {
        margin: 0;
    }

    svg {
        overflow: visible;
        position: relative;
        z-index: 10;
        shape-rendering: crispedges;
    }

    .track-inset {
        display: none;
    }

    .track,
    .uit-slider__rules {
        stroke: $c-black;
        stroke-width: 1;
    }

    .axis {
        transform: translate(0, -6px);

        line {
            stroke: $c-rules;
        }

        text {
            display: none;
        }
    }

    .uit-slider__nub-circle {
        fill: $c-white;
    }

    .uit-slider__triangle {
        fill: $c-white;
    }

    .uit-slider__range--start {
        text-anchor: start;
    }

    .uit-slider__range--end {
        text-anchor: end;
    }

    .uit-slider__label,
    .uit-slider__range {
        fill: $c-black;
        font-size: 16px;
        font-family: 'Guardian Sans Web';
    }

    .uit-slider__number {
        fill: $c-black;
        font-size: 32px;
        font-family: 'Guardian Figures';
    }

    .uit-slider__number--cost,
    .uit-slider__label--cost {
        fill: $c-light-red;
    }
}

.uit-slider__button {
    position: relative;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    border-radius: 32px;
    padding: 5px 38px 4px 12px;
    background-color: $c-light-red;
    color: $c-white;
    display: inline-block;
    transition: background 0.3s ease-out;
    margin-bottom: 12px;

    &:hover {
        background-color: $c-red;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        fill: $c-white;
        height: 100%;
    }
}