.uit-slider {
    position: relative;
    margin-bottom: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid $c-rules;

    svg {
        overflow: visible;
        position: relative;
        z-index: 10;
    }

    .track-inset {
        display: none;
    }

    .track,
    .uit-slider__rules {
        stroke: $c-black;
        stroke-width: 1;
        shape-rendering: crispedges;
    }

    .axis {
        transform: translate(0, -6px);

        line {
            stroke: $c-rules;
            shape-rendering: crispedges;
        }

        text {
            display: none;
        }
    }

    .uit-slider__nub-circle {
        fill: $c-white;
    }

    .uit-slider__triangle {
        fill: $c-white;
    }

    .uit-slider__range {
        transition: opacity 0.3s ease-in;
    }

    .uit-slider__range--start {
        text-anchor: start;
    }

    .uit-slider__range--end {
        text-anchor: end;
    }

    .uit-slider__label,
    .uit-slider__range,
    .uit-slider__estimate-label,
    .uit-slider__average-label {
        fill: $c-black;
        font-size: 16px;
        font-family: 'Guardian Sans Web';
    }

    .uit-slider__number,
    .uit-slider__estimate-number,
    .uit-slider__average-number {
        fill: $c-black;
        font-size: 32px;
        font-family: 'Guardian Figures';
    }

    .uit-slider__number--cost,
    .uit-slider__label--cost {
        fill: $c-light-red;
    }

    .uit-slider__estimate,
    .uit-slider__average {
        opacity: 0;
        transition-delay: 0.2s;
        transition: opacity 0.3s ease-in;
    }

    .uit-slider__estimate {
        fill: $c-light-red;
    }

    .uit-slider__estimate-label,
    .uit-slider__estimate-number {
        text-anchor: middle;
        fill: $c-light-red;
    }

    .uit-slider__average {
        fill: $c-black;
        text-anchor: middle;
    }
}

.uit-slider__button {
    position: absolute;
    z-index: 15;
    bottom: 6px;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    border-radius: 32px;
    padding: 5px 38px 4px 12px;
    background-color: $c-light-red;
    color: $c-white;
    display: inline-block;
    transition: background 0.3s ease-out;
    margin-bottom: 12px;

    &:hover {
        background-color: $c-red;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        fill: $c-white;
        height: 100%;
    }
}

.uit-slider__svg {
    margin: 0 40px;

    @include mq(desktop) {
        margin: 0;
    }
}

.uit-slider__reveal {
    background-color: $c-white;
    padding: 6px;
    display: none;
}

.uit-slider.is-answered {
    .uit-slider__button,
    .uit-slider__svg {
        pointer-events: none;
    }

    .uit-slider__button {
        opacity: 0;
    }

    .uit-slider__range {
        opacity: 0;
    }

    .uit-slider__estimate,
    .uit-slider__average {
        opacity: 1;
    }

    .uit-slider__nub-circle {
        fill: $c-black;
    }

    .uit-slider__triangle {
        fill: $c-black;
    }

    .uit-slider__number--created,
    .uit-slider__label--created {
        fill: $c-white;
    }

    .uit-slider__reveal {
        display: block;
    }
}